@mixin DisplayFlex($direction, $gap) {
    display: flex;
    flex-direction: $direction;
    gap: $gap;
}
@mixin AlignJustify($align, $justify) {
    align-items: $align;
    justify-content: $justify;
}
@mixin DisplayGrid($colums, $gap) {
    display: grid;
    grid-template-columns: $colums;
    gap: $gap;
}
@mixin BorderRadiusetObjectFitCover($radius) {
    border-radius: $radius;
    object-fit: cover;
}
@mixin WidthHeight($width, $height) {
    width: $width;
    height: $height;
}
@mixin FontSizeWeight($size, $weight) {
    font-size: $size;
    font-weight: $weight;
}
@mixin FontSizeMarginTop($size, $margin) {
    font-size: $size;
    margin-top: $margin;
}
@mixin FontSizeWidth($size, $width) {
    font-size: $size;
    width: $width;
}
@mixin ColorTextAlign($color, $align) {
    color: $color;
    text-align: $align;
}
@mixin ColorTextDecoration($color, $decoration) {
    color: $color;
    text-decoration: $decoration;
}
@mixin BackgroundPadding($bg-color, $padding) {
    background-color: $bg-color;
    padding: $padding;
}
@mixin PositionAbsolute($top, $left) {
    position: absolute;
    top: $top;
    left: $left;
}
